Repository hjbugajski/applicationtrackr-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown

feat: update base components, add content components, add styles
  app.vue
  assets/styles/_colors.scss
  assets/styles/_mixins.scss
  assets/styles/_text.scss
  assets/styles/_variables.scss
  assets/styles/components/_button.scss
  assets/styles/components/_index.scss
  assets/styles/index.scss
  components/content/additional-feature.vue
  components/content/feature.vue
  components/content/grid.vue
  components/content/hero.vue
  nuxt.config.ts
  pages/[...slug].vue
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown

feat: add content
  content/index.md
  content/privacy-policy.md
  public/favicon.ico
  public/images/application-green--dark.png
  public/images/application-green--light.png
  public/images/application-purple--dark.png
  public/images/application-purple--light.png
  public/images/applications--dark.png
  public/images/applications--light.png
  public/images/job-boards--dark.png
  public/images/job-boards--light.png
Due: prettier --write --ignore-unknown

docs: update README
  README.md
Due: prettier --write --ignore-unknown

build: add firebase config and GitHub actions
  .firebaserc
  .github/workflows/deploy.yml
  .gitignore
  firebase.json
Due: prettier --write --ignore-unknown

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: remove stylelint-config-prettier
  .stylelintrc.json
Due: prettier --write --ignore-unknown

feat: update sections and images
  content/index.md
  public/images/application-green--dark.png
  public/images/application-green--light.png
  public/images/application-panel--dark.png
  public/images/application-panel--light.png
  public/images/application-purple--dark.png
  public/images/application-purple--light.png
  public/images/applications--dark.png
  public/images/applications--light.png
  public/images/dashboard--dark.png
  public/images/dashboard--light.png
  public/images/reorder-columns--dark.png
  public/images/reorder-columns--light.png
Due: prettier --write --ignore-unknown

chore: fix lint errors
  app.vue
  components/content/additional-feature.vue
  components/content/feature.vue
  components/content/grid.vue
  components/content/hero.vue
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown

fix(privacy-policy): update email
  content/privacy-policy.md
Due: prettier --write --ignore-unknown

chore: update dependencies and husky
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: update copy
  content/index.md
Due: prettier --write --ignore-unknown

build: update node version
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

chore: update dependencies and dev tools
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write --ignore-unknown

chore: update nuxt
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

ci: fix ci install and build
  .github/workflows/deploy.yml
Due: prettier --write --ignore-unknown

chore: fix package.json
  package.json
Due: prettier --write --ignore-unknown

chore: update dependencies, drops dependencies, run prettier, fix lint errors
  .eslintrc.json
  .github/workflows/deploy.yml
  .gitignore
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  app.vue
  assets/styles/_mixins.scss
  assets/styles/_text.scss
  assets/styles/_variables.scss
  assets/styles/components/_button.scss
  assets/styles/index.scss
  components/content/additional-feature.vue
  components/content/feature.vue
  components/content/grid.vue
  components/content/hero.vue
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown

chore: update dependencies, drops dependencies, run prettier, fix lint errors (#26)
  .eslintrc.json
  .github/workflows/deploy.yml
  .gitignore
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  app.vue
  assets/styles/_mixins.scss
  assets/styles/_text.scss
  assets/styles/_variables.scss
  assets/styles/components/_button.scss
  assets/styles/index.scss
  components/content/additional-feature.vue
  components/content/feature.vue
  components/content/grid.vue
  components/content/hero.vue
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pnpm-lock.yaml
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown

chore: add CODEOWNERS (#28)
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown

chore: upgrade to @nuxt/content v3
  .github/workflows/deploy.yml
  .gitignore
  components/content/additional-feature.vue
  components/content/feature.vue
  components/content/hero.vue
  content.config.ts
  content/privacy-policy.md
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown

chore: fix stylelint issues
  app.vue
  assets/styles/components/_button.scss
  components/content/additional-feature.vue
  components/content/hero.vue
  package.json
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown

feat: add shutdown alert
  components/content/alert.vue
  content/index.md
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown

feat: add shutdown alert (#34)
  .github/workflows/deploy.yml
  .gitignore
  app.vue
  assets/styles/components/_button.scss
  components/content/additional-feature.vue
  components/content/alert.vue
  components/content/feature.vue
  components/content/hero.vue
  content.config.ts
  content/index.md
  content/privacy-policy.md
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: update dependencies (#36)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

ci: remove deployment workflows - environment decommissioned
  .github/workflows/deploy.yml
  README.md
Due: prettier --write --ignore-unknown

docs: update README (#38)
  .github/workflows/deploy.yml
  README.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js,ts,vue}
  stylelint --ignore-path .gitignore: any of: **/*.scss
  prettier --write --ignore-unknown: any of: *
